@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  font-family: "IBM Plex Mono";
}

.loader div:nth-child(1){
  animation-delay: 0.1s;
}

.loader div:nth-child(1) {
  animation-delay: 0.2s;
}

.loader div:nth-child(1) {
  animation-delay: 0.3s;
}

.usermessagewaiting {
  background: linear-gradient(to left, #07080938, #1a1c2024, #07080936);
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}